<!DOCTYPE html>
<head>
  <a href="/" style="float:left;"><div id="logo-img"></div></a>
  <title>Travel 404 </title>
  <link rel="stylesheet" href="../static/styles/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
</head>
<style>
  h1{
    margin-left: 10px;
  }
  p{
    margin: 10px;
    margin-top: 30px;
  }
</style>
<body>
  <h1> Travel 404. </h1>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="{{ url_for('countries') }}">Countries</a>
    <a href="{{ url_for('about') }}">About</a>
  </div>

  <h1>About Us</h1>

  <center><img src="../static/images/Travelling.jpg" alt="Travelling" width="300" height="400"></center>
  <div>
    <p>&nbsp As human beings, we all have the desire to explore, experience and engage with the world around us. Because of the 2020 global pandemic, 
      many curious travellers have been unable to visit the wonders and attractions around the world, many more people remain confined to their homes 
      even post-COVID. Our website aims to provide a platform for travellers to get a snapshot of what interesting places around the world are, whether 
      to plan their future trips as travel opens up or simply to explore the world. Simply choose a continent or let our algorithm choose for you and begin exploring!
    </p>
    <p>This website was made as an entry to SYNCSHACK 2022.
      ©2022 Hotspot</p>
  </div>
  
</body>


</html>