<!DOCTYPE html>
<html>
<head>
    <title>  Travel 404 </title>
    <link rel="stylesheet" href="../static/styles/styles_city.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">

</head>
<body>
    <h1> Randomiser 404. </h1>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="countries.html">Countries</a>
        <a href="about.html">About</a>
    </div>

    <div id="continent-content">
        <h2>Your randomized continent is</h2>
        <center><div id="continent-photo" ></div></center>
        <h3> [continent] </h3>
        <button class="button">Redo</button>
    </div>

    <div>
        <h2>Next, find a city</h2>
        <div class="slideshow-container">
            <div class="mySlides fade"><img src="../static/images/a.png"></div>
            <div class="mySlides fade"><img src="../static/images/b.png"></div>
            <div class="mySlides fade"><img src="../static/images/a.png"></div>
            <div class="mySlides fade"><img src="../static/images/b.png"></div>

        </div>
        <center><div class="row">
            <div class="column"><img class="cursor" src="../static/images/a.png" style="width:100%" onclick="currentSlide(1)"></div>
            <div class="column"><img class="cursor" src="../static/images/b.png" style="width:100%" onclick="currentSlide(2)"></div>
            <div class="column"><img class="cursor" src="../static/images/a.png" style="width:100%" onclick="currentSlide(3)"></div>
            <div class="column"><img class="cursor" src="../static/images/b.png" style="width:100%" onclick="currentSlide(4)"></div>
        </div></center>
        <div style="text-align: center; margin-top: 30px;"><button class="button">Randomize</button></div>
        <script>
            let slide_index = 1;
            showSlides(slide_index);
            function nextSlide(n) {showSlides(slide_index += n);}
            function currentSlide(n) {showSlides(slide_index = n);}
            function showSlides(n) {
              let i;
              let slides = document.getElementsByClassName("mySlides");
              if (n > slides.length) {slide_index = 1}    
              if (n < 1) {slide_index = slides.length}
              for (i = 0; i < slides.length; i++)
                slides[i].style.display = "none";  
              slides[slide_index-1].style.display = "block";  
              setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>
    </div>

</body>

</html>