

<!DOCTYPE html>
<html>
<head>
    <a href="/" style="float:left;"><div id="logo-img"></div></a>
    <title>Travel 404 </title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">

</head>
<body>
    <h1> Travel 404. </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('countries') }}">Countries</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <h2> Where are you headed to?</h2>
    <h3> Choose a continent you would like to go travel </h3>
    
    <div class = "row">
        <div class="column">
            <a target="_self" href="/Asia">
                <img src="../static/images/continents/Asia.jpg" alt="Asia" width="200" height="180">
            </a>
            <div class="desc">Asia</div>
        </div>
        <div class="column">
            <a target="_self" href="/Europe">
                <img src="../static/images/continents/Europe.jpg" alt="Europe" width="200" height="180">
            </a>
            <div class="desc">Europe</div>
        </div>
        <div class="column">
            <a target="_self" href="/Pacific">
                <img src="../static/images/continents/Pacific.jpg" alt="Pacific" width="200" height="180">
            </a>
            <div class="desc">Pacific</div>
        </div>
        <div class="column">
            <a target="_self" href="/NorthAmerica">
                <img src="../static/images/continents/North America.jpg" alt="North America" width="200" height="180">
            </a>
            <div class="desc">North America</div>
        </div>
    
        <div class="column">
            <a target="_self" href="/SouthAmerica">
                <img src="../static/images/continents/South America.jpg" alt="South America" width="200" height="180">
            </a>
            <div class="desc">South America</div>
        </div>
        <div class="column">
            <a target="_self" href="/Africa">
                <img src="../static/images/continents/Africa.jpg" alt="Africa" width="200" height="180">
            </a>
            <div class="desc">Africa</div>
        </div>
        <div class="column">
            <input type="image" src="../static/images/continents/Random.gif" width="200" height="180" value="Random" onclick="countryChosen(this.value)"/>
            <div class="desc">Random</div>
        </div>
    </div>

    <!-- <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "/countries";
        };
    </script> -->
    <script>
        function countryChosen(elm) {
            const continents = ["Asia", "Pacific", "Africa", "Europe", "NorthAmerica", "SouthAmerica"];  
            if (elm == "Random"){
                const randomElement = continents[Math.floor(Math.random() * continents.length)];
                // document.getElementById("countryChosen").value = 'The continent ' + randomElement + ' has been randomly chosen';
                location.href = randomElement;
                // window.location('/' + randomElement);

            }
        }
    </script>
</body>


</html>