<!DOCTYPE html>
<html>
<head>
    <title>Travel 404 </title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">

</head>
<body>
    <h1> Travel 404. </h1>
    <div class="topnav">
        <a class="active" href="home.html">Home</a>
        <a href="countries.html">Countries</a>
        <a href="about.html">About</a>
    </div>
    <p> Where are you headed to next? </p>
    <h2> CONTINENTS </h2>
    <div class="gallery">
        <a target="_blank" href="img_5terre.jpg">
          <img src="images/Asia.jpg" alt="Asia" width="600" height="400">
        </a>
        <div class="desc">ASIA</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="images.Europe.jpg">
          <img src="images/Europe.jpg" alt="Europe" width="600" height="400">
        </a>
        <div class="desc">EUROPE</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
          <img src="images/Pacific.jpg" alt="Pacific" width="600" height="400">
        </a>
        <div class="desc">PACIFIC</div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="images/North America.jpg" alt="North America" width="600" height="400">
        </a>
        <div class="desc">NORTH AMERICA</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="images/South America.jpg" alt="South America" width="600" height="400">
        </a>
        <div class="desc">SOUTH AMERICA</div>
      </div>

      <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
          <img src="images/Africa.jpg" alt="Africa" width="600" height="400">
        </a>
        <div class="desc">AFRICA</div>
      </div>
</body>

</html>