
<!DOCTYPE html>
<html>
<head>
    <a href="/" style="float:left;"><div id="logo-img"></div></a>
    <title>Travel 404 </title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">

</head>
<body>
    <h1> Travel 404. </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('countries') }}">Countries</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>
    <p> Where are you headed to next? </p>
    <h2> CONTINENTS </h2>
    <div class="gallery">
        <a target="_self" href="/Asia">
            <img src="static/images/continents/Asia.jpg" alt="Asia" width="600" height="400">
        </a>
        <div class="desc">ASIA</div>
    </div>
    <div class="gallery">
        <a target="_self" href="/Europe">
            <img src="static/images/continents/Europe.jpg" alt="Europe" width="600" height="400">
        </a>
        <div class="desc">EUROPE</div>
    </div>
    <div class="gallery">
        <a target="_self" href="/Pacific">
            <img src="static/images/continents/Pacific.jpg" alt="Pacific" width="600" height="400">
        </a>
        <div class="desc">PACIFIC</div>
    </div>
    <div class="gallery">
        <a target="_self" href="/NorthAmerica">
            <img src="static/images/continents/North America.jpg" alt="North America" width="600" height="400">
        </a>
        <div class="desc">NORTH AMERICA</div>
    </div>
   
    <div class="gallery">
        <a target="_self" href="/SouthAmerica">
            <img src="static/images/continents/South America.jpg" alt="South America" width="600" height="400">
        </a>
        <div class="desc">SOUTH AMERICA</div>
    </div>
    <div class="gallery">
        <a target="_self" href="/Africa">
            <img src="static/images/continents/Africa.jpg" alt="Africa" width="600" height="400">
        </a>
        <div class="desc">AFRICA</div>
    </div>
    <div class="gallery">
        <input type="image" src="static/images/continents/Random.png" value="Random" onclick="countryChosen(this.value)" width="220" height="180"/>
        <div class="desc">RANDOM</div>
    </div>

    <!-- <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "/countries";
        };
    </script> -->
    <script>
        function countryChosen(elm) {
            const continents = ["Asia", "Pacific", "Africa", "Europe", "NorthAmerica", "SouthAmerica"];  
            if (elm == "Random"){
                const randomElement = continents[Math.floor(Math.random() * continents.length)];
                // document.getElementById("countryChosen").value = 'The continent ' + randomElement + ' has been randomly chosen';
                location.href = randomElement;
                // window.location('/' + randomElement);

            }
        }
    </script>
</body>


</html>