<!DOCTYPE html>
<html>
<head>
    <title>Travel 404 </title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">

</head>
<body>
    <h1> Travel 404. </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="{{ url_for('countries') }}">Countries</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>

    <button onClick="countryChosen(this)">Asia</button>
    <button onClick="countryChosen(this)">Oceania</button>
    <button onClick="countryChosen(this)">Africa</button>
    <button onClick="countryChosen(this)">Europe</button>
    <button onClick="countryChosen(this)">North America</button>
    <button onClick="countryChosen(this)">South America</button>
    <button onClick="countryChosen(this)">Random</button>
    <br></br>
    <textarea id="countryChosen"></textarea>

    <script>
      function countryChosen(elm) {
        const continents = ["Asia", "Oceania", "Africa", "Europe", "North America", "South America"];
        
        if (elm.innerHTML == "Random"){
            const randomElement = continents[Math.floor(Math.random() * continents.length)];
            document.getElementById("countryChosen").value = 'The continent ' + randomElement + ' has been randomly chosen';

        }
        else{
            document.getElementById('countryChosen').value = 'The contient ' + elm.innerHTML + ' is chosen';

        }
    }
    
    </script>


    
</body>

</html>