<!DOCTYPE html>
<html>
  <head>
      <title>Travel 404 </title>
      <link rel="stylesheet" href="../static/styles/styles_randomize.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
  </head>
  <body>
    <a href="/" style="float:left;"><div id="logo-img"></div></a>
    <h1> Travel 404. </h1>

    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{{ url_for('countries') }}">Countries</a>
      <a href="{{ url_for('about') }}">About</a>
    </div>

    <div id = "content">
      <h2> Your randomized city is: </h2>
      <div><center><img src="../static/images/a.png" alt="city" width="600" height="400"></center></div>
      <div style="text-align: center;" ><h3> [Name of City]</h3></div>
      <div style="text-align: center; margin-top: 30px;"><button onClick="window.location.reload();">Redo</button></div>
    </div>
  </body>
</html>