<!DOCTYPE html>
<html>
  <head>
      <title>Travel 404 </title>
      <link rel="stylesheet" href="../static/styles/styles_randomize.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✈️</text></svg>">
  </head>
  <body>
    <a href="/" style="float:left;"><div id="logo-img"></div></a>
    <h1> Travel 404. </h1>

    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{{ url_for('countries') }}">Countries</a>
      <a href="{{ url_for('about') }}">About</a>
    </div>

    <div id = "content">
      <h2> Your randomized city is: </h2>
      <div><center><img src="../static/images/Sapporo/sapporo.jpg" alt="city" width="600" height="400"></center></div>
      <div style="text-align: center;"><h3>Sapporo</h3></div>
      <div style="text-align: center; margin-top: 30px;"><button onClick="window.location.reload();"class = "button">Redo</button></div>
      <div>
        <h2>Food</h2>
        <center><div>
          <a href = "https://en.wikipedia.org/wiki/Ramen"><img src="../static/images/Sapporo/ramen.jpg" alt="ramen"  width=400 height = 255></a>
          <a hreft = "https://en.wikipedia.org/wiki/Nabemono"><img src="../static/images/Sapporo/nabe.jpg" alt="nabe" width="30%"></a>
        </div></center>
        <h2>Things to watch</h2>
        <a href = "https://www.snowfes.com/english/"><img src="../static/images/Sapporo/snow.jpg" alt="snow" width="30%" ></a>
          <a hreft = "https://artmuseum.pref.hokkaido.lg.jp/knb/english/"><img src="../static/images/Sapporo/museum.jpg" alt="museum" width="30%"></a>
          <a href="https://en.wikipedia.org/wiki/Sapporo_Clock_Tower/"></a><img src="../static/images/Sapporo/clock.jpg" alt="clock" width="30%" height = 340px></a>
        <h2>Things to do</h2>
        <a href = "https://www.shiroikoibitopark.jp/en/"><img src="../static/images/Sapporo/choco.jpg" alt="choco" width="30%" height="285px"></a>
          <a hreft = "https://en.wikipedia.org/wiki/Odori_Park"><img src="../static/images/Sapporo/park.jpg" alt="park" width="30%" height="285px"></a>
          <a href="https://www.sapporobeer.jp/english/brewery/s_museum"></a><img src="../static/images/Sapporo/beer.jpg" alt="beer" width="30%" height = 285px></a>
      </div>
    </div>
  </body>
</html>